@import "../../../../styles/tokens.scss";

.table-wrapper {
  display: flex;
  flex-direction: column;

  &__pagination {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: $spacing-xs;
    background: $white;
  }
}
